* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 80%;
    margin: 0 auto;
}

.border-5 {
    border-width: 3px;
}

.fs-2 {
    font-size: 20px;
}

.fs-1 {
    font-size: 37px;
}